<form id="list_filter_form" class="form-search">
    <fieldset>
        <input id="list_filter" class="search-query" placeholder="{{ 'filter'|trans }}" type="text" name="{{ 'filter'|trans }}" />
    </fieldset>
</form>