{% macro checkbox_table(input) %}
    <table class="table table-hover">
        {% for checkbox in input %}
            <tr>
                <td>{{ form_widget(checkbox) }}</td>
                <td>{{ form_label(checkbox) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}