{% extends "layout.twig" %}

{% block content %}
    <h2>Groups</h2>

    <ul class="nav nav-tabs nav-stacked">
    {% for group in groups %}
        <li>
            <a href=""><i class="icon-black icon-list-alt"></i> {{ group.name }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}