<html>

<head>

    <style type="text/css">

        body {
            background: #eee;
        }

        #content {
            background: #fff;
            margin: 10px;
            padding: 10px;
        }
    </style>

</head>

<body>

<div id="content">
{% block content %}
{% endblock %}
</div>

</body>

</html>