{% extends "layout.twig" %}

{% block content %}
    <h2>Repositories</h2>

    <ul class="nav nav-tabs nav-stacked">
    {% for repo in repositories %}
        <li>
            <a href=""><i class="icon-black icon-book"></i> {{ repo.name }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}