{% extends "layout_page.twig" %}

{% block content %}
    <h2>Repository: Create</h2>

    <form action="#" method="post">
        {{ form_widget(form) }}

        <input type="submit" name="submit" />
    </form>

{% endblock %}