{% extends "layout.twig" %}

{% block content %}
    <h2>Users</h2>

    <ul class="nav nav-tabs nav-stacked">
    {% for user in users %}
        <li>
            <a href="">{{ user }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}