{% extends "layout_page.twig" %}

{% block content %}
    <h2>Edit User: {{ user }}</h2>

    <form action="#" method="post">
        {{ form_widget(form) }}

        <input class="btn btn-primary" type="submit" name="submit" value="save" />

    </form>

{% endblock %}