{% extends "layout_page.twig" %}

{% block content %}
    <h2>Users</h2>

    <ul class="nav nav-tabs nav-stacked">
    {% for user in users %}
        <li>
            <a href="{{ url('user_view', {user:user}) }}"><i class="icon-black icon-user"></i>  {{ user }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}